.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_options {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #080808;
    align-items: center;
}

.logo {
    margin-top: 32px;
    margin-bottom: 32px;
}

.default_margin {
    margin-right: 50px;
    cursor: pointer;
}

.header_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10.8154px 25.6154px;
    gap: 5.69px;
    /* 
width: 156.23px;
height: 48.63px; */
    background: #013096;
    border-radius: 5.69231px;
    color: #FFFAFA;
    cursor: pointer;

}