.main-container{
    background: #013096;;
}

.icon_description{
    color: #fffafa;
    margin-top: 12px;
}

.whyus-header{
    margin-top: 75px;
    color: #fffafa;
    
}

.whyus-footer{
    margin-bottom: 100px;
}